body{
    background-color: cadetblue;
}
section{
    display: flex;
    justify-content: center;
    border:2px solid rgb(46, 34, 32);
    margin:10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(168, 109, 228);

}
.country{
    border:2px solid tomato;
    margin:10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(126, 119, 133);
}
#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
